{% include "base.html" %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}

    <div>
        <!-- Render the label -->
        {{ field.label_tag }}

        <!-- Render the field and apply any custom classes if needed -->
        {{ field }}

        <!-- Render help text, if available -->
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}

    </div>
    {% endfor %}
    <input type="submit" value="Vote">

</form>