{% include "base.html" %}
<link rel="stylesheet" href="/static/bootstrap.min_edit4.css">
<body>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

<h3>1 = Katastrophe</h3>
<h3>6 = fantastisch</h3>
    
    {{ form.as_div }}

    <input type="submit" value="Vote">

</form>
</body>